@charset "utf-8";
/* CSS Document */
body {
    background-image: linear-gradient(135deg, #d22828 10%, #1a1a1b 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Corbel", sans-serif;
    color: #f0f0f0;
  } 
.card{
	box-shadow: -1px 15px 30px -10px rgb(4, 4, 4);
}
.card-wr-bg:hover{
	background-color: #f07a85;
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-s-bg:hover{
	background-color: #f07a85;
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-d-bg:hover{
	background-color: #f07a85;
	cursor: pointer;
	transition: all 1s ease;
    transform: scale(1.04);
}
.card-footer{
    font :#dbdbdb;
	justify-content:space-around;
	text-align: center;
	display: flex;
	padding: 0px!important;
}
.card-footer div{
	flex-grow: 1 !important;
	border-right: 1px solid #dbdbdb;
	padding: 10px 0;
}
.card-footer div:last-child{
border-right: none;	
}

button {
    float:left;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 70px;
    display: inline-block;
    border-color: #080a07a6;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #080a07a6;
    background-image: linear-gradient(135deg, #3c3536 10%, #d52b1f 100%);
  }